{% extends "mvhbc/scaffolding.html" %}
{% load staticfiles %}
{% load mvhbc_tags %}
{% block content %}

<div class="container comp-welcome">

    <div style="margin:0px 10px 10px 10px">
    <h3 class="form-title">Homebrew Submission Information</h3><br><br>
    <ol>
    <li>Anyone (who can legally make homebrew) may enter. Please indicate any co-brewers.</li>
    <li>All entries must have been brewed at home not using a commercial operation. Entries made at Brew on Premises are allowed if the entrant(s) performed ALL the work required to make the entry.</li>
    <li>More than one entry per sub-category per entrant is allowed. But please make sure the entries are uniquely identified on the entry form and the bottle labels. Example: Name one English IPA#1 and the other English IPA#2</li>
    <li>Categories with fewer than six entries may be collapsed at the discretion of the Organizers.</li>
    <li>Entry fee is $6.00 if paid by check and $6.50 if paid by PayPal per entry.  If paid by Paypal please include your Entry IDs in the provided field.  If paid by check please list this information on the check or on a separate piece of paper included with your entries.</li>
    <li>Please submit 2 bottles per entry, 10 to 16 ounces, any style. No labels or silk-screening, is allowed. Raised lettering on bottles is strongly discouraged, but bottles with generic raised lettering will be accepted. Caps must be plain or blacked out.</li>
    <li>Entry deadline is Saturday, June 6th, 2015. Late entries will neither be judged nor returned.</li>
    <li>BJCP judges under BJCP competition standards, rules, and regulations will judge all entries.</li>
    <li>Medals will be awarded for 1st, 2nd and 3rd place winners in each category and 1st, 2nd and 3rd Best of Show.</li>
    <li>Entries scoring under 25 points out of 50 may not be eligible for an award.</li>
    <li>All judge score sheets will be returned to entrants. No postage is required.</li>
    <li>To register your entries, complete the on-line registration form on the entry page. Be sure to double check the style name and numbers.  The competition organizers will not be reclassifying beers, we will use the style numbers you specify.</li>
    <li>Bottle labels, which are generated as part of the registration procedure, must be attached to each bottle with a rubber band. No tape or glue!</li>
    <li>Entries will only be accepted at the Ship-To address and Drop-Off points listed. Do Not mail or deliver entries to the competition site!</li>
    <li>Direct inquiries to <a href="mailto:president@mvhbc.com">president@mvhbc.com</a> or <a href="mailto:webmaster@mvhbc.com">webmaster@mvhbc.com</a></li>
    <li>These rules may be changed without notice at any time by the Competition Organizers. See this website for any updates and drop-off site changes.</li>
    </ol>
    </div>

</div>



{% endblock content %}