{% extends "mvhbc/scaffolding.html" %}
{% load staticfiles %}
{% load mvhbc_tags %}
{% block content %}

<div class="container">


    <div class="row comp-welcome">
        <div class="col-md-8">

    <h3 class="form-title">Mailing and Drop-off Locations</h3>


            <h4 class="text-info">Shipping Address</h4>
            <address>
            <strong>MVHBC Comp</strong><br>
            34 Came Avenue<br>
            Haverhill, MA 01830<br>
            </address>


            <h4 class="text-info">Drop-Off Locations</h4>

            <address>
            <strong>Jasper's Homebrew</strong><br>
            4 Temple St <br>
            Nashua, NH 03060<br>
            <abbr title="Phone">P:</abbr>(603) 881-3052<br>
            </address>

            <address>
            <strong>Modern Homebrew Emporium</strong><br>
            2304 Massachusetts Ave<br>
            Cambridge, MA 02140<br>
            <abbr title="Phone">P:</abbr>(617) 498-0400<br>
            </address>

            <address>
            <strong>Beer Wine Hobby</strong><br>
            155 New Boston St <br> 
            Woburn, MA 01801<br>
            <abbr title="Phone">P:</abbr>(781) 933-8818<br>
            </address>

            <address>
            <strong>Redstone Liquors</strong><br>
            89 Main St <br>
            Andover, Massachusetts 01810<br>
            <abbr title="Phone">P:</abbr>(978) 474-9265<br>
            </address>

        </div>
        <div class="col-md-4">
            <br><br>


            <div class="well well-large">
                <p><strong>Drop-off Locations are available between May 23 and  June 6</strong></p>
                <p>Entry deadline is Saturday, June 6th 2015. Late entries will neither be judged nor returned.</p>
                <p>Bottle labels, which are generated as part of the registration procedure, must be attached to each bottle with a rubber band. No tape or glue!</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}