{% extends "mvhbc/scaffolding.html" %}
{% load staticfiles %}
{% load mvhbc_tags %}
{% block content %}

<script>

var sponsors = [
    {
        img: '{% static "img/sponsors/beersmith_250.jpg" %}',
        url: 'http://beersmith.com/'
    },
    {
        img: '{% static "img/sponsors/briess_250.jpg" %}',
        url: 'http://www.briess.com/'
    },
    {
        img: '{% static "img/sponsors/craftBeerCellar.jpeg" %}',
        url: 'http://www.craftbeercellar.com/'
    },
    {
        img: '{% static "img/sponsors/fivestar_250.jpg" %}',
        url: 'http://www.fivestarchemicals.com/'
    },
    {
        img: '{% static "img/sponsors/samAdamsLogo.jpg" %}',
        url: 'https://www.samueladams.com/'
    },
    {
        img: '{% static "img/sponsors/sierranevada_250.jpg" %}',
        url: 'http://www.sierranevada.com/'
    },
    {
        img: '{% static "img/sponsors/woodchuck_250.jpg" %}',
        url: 'http://www.woodchuck.com/v'
    },
    {
        img: '{% static "img/sponsors/wyeast.jpg" %}',
        url: 'https://www.wyeastlab.com/'
    },
    {
        img: '{% static "img/sponsors/whitelabs_250.jpg" %}',
        url: 'http://www.whitelabs.com/'
    },
    {
        img: '{% static "img/sponsors/bsgHandcraft.jpeg" %}',
        url: 'http://www.bsghandcraft.com/'
    },
    {
        img: '{% static "img/sponsors/cargill_250.jpg" %}',
        url: 'http://www.cargill.com'
    },
    {
        img: '{% static "img/sponsors/nightshift_250.jpg" %}',
        url: 'http://www.nightshiftbrewing.com/'
    },
    {
        img: '{% static "img/sponsors/modernHomebrewEmporium.png" %}',
        url: 'https://beerbrew.com/'
    }

];

</script>




<div class="compSponsors">

    <h2 class="compSponsors-title">2015 Competition Sponsors</h2>

    <p class="compSponsors-copy">Visit our sponsors who have donated to the competition.
    <br>A portion of the proceeds will be donated to charity.</p>

<script>
    for(var x=0; x<sponsors.length; x++){
        document.write('<div class="compSponsors-tile"><div class="compSponsors-img"><a href="'+sponsors[x].url+'" target="_blank"><img src="'+sponsors[x].img+'" class="img-responsive"></div></div>');
    }
</script>
</div>


{% endblock content %}