{% extends "mvhbc/scaffolding.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-md-6">

      <!-- PHOTOS -->
      <div><img src="{% static "img/twodudes.jpg" %}" class="img-responsive photos" alt="Responsive image"></div>

  </div>
  <div class="col-xs-12  col-md-6">

      <div class="updates">
        <h3>About</h3>
        <p>The Merrimack Valley Homebrew Club is an AHA registered club that was founded by 2 homebrewers during the summer of 2008. The club was formed to bring fellow brewers together to share their experiences, knowledge and of course their beer. The club's membership includes everyone from novice brewers to seasoned veterans. We have extract, partial mash and all grain brewers, as well as having some members who have beer judging experience.</p>

        <p>The club meets the first Saturday of every month at beer bars, member's homes, brew pubs or restaurants. If you would like more information on the club please email one of the officers and they will be glad to answer any questions you might have.</p>

        <p>Cheers!</p>

        <h3>Membership</h3>
        <p>The yearly dues are $20 for individual membership and $25 for family membership. As a member you will receive a free email account, access to the club message board and admission to the competititons, club outings and lots of other fun events.</p>

        <p>The Merrimack Homebrewing Club meets the first Saturday of every month. Usually alternating between different pubs, breweries and members who are gracious enough to host the monthly meeting.</p>

        <p>If you would like more information please feel contact the club President or you are welcome to attend one of our monthly meetings.</p>

        <section class="splash-text">
          <h2>Club Officials</h2>
          <p class="officers"><b>President</b><br>
            <span>Matt Savage</span><br>
            <a href="mailto:president@mvhbc.com">president@mvhbc.com</a>
          </p>
          <p class="officers"><b>Vice President</b><br>
            <span>John Kalinowski</span><br>
            <a href="mailto:vicepresident@mvhbc.com">vicepresident@mvhbc.com</a>
          </p>
          <p class="officers"><b>Secretary</b><br>
            <span>Marco Borba</span><br>
            <a href="mailto:secretary@mvhbc.com">secretary@mvhbc.com</a>
          </p>
          <p class="officers"><b>Webmaster</b><br>
            <span>David Thomas</span><br>
            <a href="mailto:webmaster@mvhbc.com">webmaster@mvhbc.com</a>
          </p>
        </section>
        
      </div>
  </div>
</div>


{% endblock content %}