{% extends "mvhbc/scaffolding.html" %}
{% load staticfiles %}
{% block content %}

<section class="resource-links">
    <!-- Title -->
    <h2>Links</h2>

    <!-- AHBA Related -->    
    <h3>Homebrewer's Association</h3>
    <p class="links">
        <a href="http://www.homebrewersassociation.org/">American Homebrewers Association</a><br>
    </p>

    <!-- LHBS -->
    <h3>Local Homebrewing Stores</h3>
    <p class="links">
        <a href="http://www.beer-wine.com">Beer &amp; Wine Hobby</a><br>
        <a href="https://www.beerbrew.com/">Homebrew Emporium</a><br>
        <a href="http://www.boomchugalug.com/">Jasper's Homebrew &amp; Winemaking</a><br>
        <a href="http://www.borderbrewsupply.com/">Border Brew Supply</a><br>
    </p>

    <!-- Message Boards -->
    <h3>Homebrewing Message Boards</h3>
    <p class="links">
        <a href="http://www.homebrewtalk.com/">HomeBrewTalk.com</a><br>
        <a href="http://www.homebrewersassociation.org/forum/index.php">American Homebrewer's Association Forum</a><br>
        <a href="http://beeradvocate.com/community/forums/homebrewing.8/">BeerAdvocate - Homebrewing forum</a><br>
    </p>

    <!-- Oneline Stores -->
    <h3>Homebrewing Online Stores</h3>
    <p class="links">
        <a href="http://www.northernbrewer.com/">Northern Brewer</a><br>
        <a href="http://www.midwestsupplies.com/">Midwest Supplies</a><br>
        <a href="http://morebeer.com/">MoreBeer!</a><br>
        <a href="http://www.brewmasterswarehouse.com/">Brewmasters Warehouse</a><br>
        <a href="http://www.williamsbrewing.com/">William's Brewing</a><br>
        <a href="http://www.austinhomebrew.com/">Austin Homebrew Supply</a><br>
        <a href="http://www.hopsdirect.com/">Hops Direct</a><br>
    </p>

    <!-- Industry/Commercial Stuff -->
    <h3>Commercial Beer News and Reviews</h3>
    <p class="links">
        <a href="http://beeradvocate.com/">BeerAdvocate</a><br>
        <a href="http://www.ratebeer.com/">ratebeer</a><br>
        <a href="http://www.craftbeer.com/">CraftBeer</a><br>
    </p>

</section>

{% endblock content %}